<p>Sales Representative</p>
<mat-divider></mat-divider>
<form [formGroup]="salesForm" (ngSubmit)="onSubmit(salesForm.value)">
    <div class="form-group">
        <label>ID *</label>
        <input type="email" class="form-control" formControlName="id">
        <label class="mt-2">You cannot change this once added.</label>
    </div>

    <div class="form-row">
        <div class="form-group col-md-4">
            <label>First Name*</label>
            <input type="text" class="form-control" formControlName="firstName">
        </div>

        <div class="form-group col-md-4">
            <label>Middle Name*</label>
            <input type="text" class="form-control" formControlName="middleName">
        </div>

        <div class="form-group col-md-4">
            <label>Last Name*</label>
            <input type="text" class="form-control" formControlName="lastName">
        </div>
    </div>

    <div class="form-group">
        <label>Email*</label>
        <input type="text" class="form-control" placeholder="example@yahoo.com" formControlName="email">
    </div>

    <div class="form-group">
        <label>Address*</label>
        <input type="text" class="form-control" placeholder="410 Port House" formControlName="address">
    </div>

    <div class="form-group">
        <label>Contact*</label>
        <input type="text" class="form-control" placeholder="09xxxxxxxx" formControlName="contact">
    </div>

    <button type="submit" class="btn btn-primary mr-2">Add</button>
    <button type="input" class="btn btn-primary" (click)="onCancel()">Cancel</button>
</form>