<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <app-header (toggleSideBarForMe)="sideBarToggler()"></app-header>


    <mat-drawer-container>
        <mat-drawer mode="side" [opened]='sideBarOpen'>
            <app-sidebar></app-sidebar>
        </mat-drawer>

        <mat-drawer-content>
            <router-outlet></router-outlet>
        </mat-drawer-content>

    </mat-drawer-container>


    <app-footer></app-footer>
</body>

</html>