<div class="p-3 font-weight-bold">

    <div class="row">
        <div class="buttons">
            <h2>Accounts Payable Entry</h2>
            <button mat-raised-button color="primary" (click)="onAdd()">
                <mat-icon>add</mat-icon> Add Accounts Payable Entry
            </button>
        </div>
    </div>
</div>
<mat-divider></mat-divider>


<mat-tab-group>
    <mat-tab label="Open">
        <div class="example-container mat-elevation-z8" matSort>


            <div class="buttons">

                <mat-form-field>
                    <input matInput (keyup)="applyFilterOpen($event.target.value)" placeholder="Search
    " />
                </mat-form-field>

            </div>
            <table mat-table [dataSource]="openPayables">

                <!-- Invoice Date -->
                <ng-container matColumnDef="invoiceDate">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Invoice Date</th>
                    <td mat-cell *matCellDef="let element"> {{element.invoiceDate}} </td>
                </ng-container>

                <!-- PE Number Column -->
                <ng-container matColumnDef="peNumber">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> PE # </th>
                    <td mat-cell *matCellDef="let element"> {{element.peNumber}} </td>
                </ng-container>

                <!-- Due Date Column -->
                <ng-container matColumnDef="dueDate">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Due Date </th>
                    <td mat-cell *matCellDef="let element"> {{element.dueDate}}</td>
                </ng-container>

                <!-- Supplier Column -->
                <ng-container matColumnDef="supplier">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Supplier </th>
                    <td mat-cell *matCellDef="let element"> {{element.supplier}} </td>
                </ng-container>

                <!-- Tin Number Column -->
                <ng-container matColumnDef="tinNumber">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Tin Number </th>
                    <td mat-cell *matCellDef="let element"> {{element.tinNumber}} </td>
                </ng-container>

                <!-- Reference Column -->
                <ng-container matColumnDef="reference">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Reference </th>
                    <td mat-cell *matCellDef="let element"> {{element.reference}} </td>
                </ng-container>

                <!-- Remarks Column -->
                <ng-container matColumnDef="remarks">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Remarks </th>
                    <td mat-cell *matCellDef="let element"> {{element.remarks}} </td>
                </ng-container>

                <!-- Amount Due Column -->
                <ng-container matColumnDef="amountDue">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Amount Due </th>
                    <td mat-cell *matCellDef="let element"> {{element.amountDue}} </td>
                </ng-container>

                <!-- Actions Column -->
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef> Actions </th>
                    <td mat-cell *matCellDef="let element">
                        <button class="ml-2" mat-icon-button color="primary" (click)="onView(element.id)">
                            <mat-icon>pageview</mat-icon>
                        </button>
                        <button class="ml-2" mat-icon-button (click)="onEdit(element)">
                            <mat-icon>launch</mat-icon>
                        </button>
                        <button mat-icon-button color="warn" (click)="onDelete(element.id)">
                            <mat-icon>delete_outline</mat-icon>
                        </button>

                    </td>
                </ng-container>

                <!-- Loading Data -->
                <ng-container matColumnDef="loading">
                    <mat-footer-cell *matFooterCellDef colspan="6">
                        Loading data...
                    </mat-footer-cell>
                </ng-container>

                <!-- No Data -->
                <ng-container matColumnDef="noData">
                    <mat-footer-cell *matFooterCellDef colspan="6">
                        No data.
                    </mat-footer-cell>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="closedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: closedColumns;"></tr>
            </table>

            <div *ngIf="noData | async" class="no-records" style="text-align: center; padding: 20px;">
                No records found
            </div>


            <mat-card *ngIf="isLoading" style="display: flex; justify-content: center; align-items: center">
                <mat-progress-spinner color="primary" mode="indeterminate">
                </mat-progress-spinner>
            </mat-card>

            <mat-paginator [pageSizeOptions]="[20, 25, 30]" showFirstLastButtons></mat-paginator>
        </div>
    </mat-tab>



    <mat-tab label="Closed">

        <div class="example-container mat-elevation-z8" matSort>


            <div class="buttons">

                <mat-form-field>
                    <input matInput (keyup)="applyFilterClosed($event.target.value)" placeholder="Search
    " />
                </mat-form-field>

            </div>
            <table mat-table [dataSource]="closedPayables">

                <!-- Invoice Date -->
                <ng-container matColumnDef="invoiceDate">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Invoice Date</th>
                    <td mat-cell *matCellDef="let element"> {{element.invoiceDate}} </td>
                </ng-container>

                <!-- PE Number Column -->
                <ng-container matColumnDef="peNumber">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> PE # </th>
                    <td mat-cell *matCellDef="let element"> {{element.peNumber}} </td>
                </ng-container>

                <!-- Due Date Column -->
                <ng-container matColumnDef="dueDate">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Due Date </th>
                    <td mat-cell *matCellDef="let element"> {{element.dueDate}}</td>
                </ng-container>

                <!-- Supplier Column -->
                <ng-container matColumnDef="supplier">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Supplier </th>
                    <td mat-cell *matCellDef="let element"> {{element.supplier}} </td>
                </ng-container>

                <!-- Tin Number Column -->
                <ng-container matColumnDef="tinNumber">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Tin Number </th>
                    <td mat-cell *matCellDef="let element"> {{element.tinNumber}} </td>
                </ng-container>

                <!-- Reference Column -->
                <ng-container matColumnDef="reference">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Reference </th>
                    <td mat-cell *matCellDef="let element"> {{element.reference}} </td>
                </ng-container>

                <!-- Remarks Column -->
                <ng-container matColumnDef="remarks">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Remarks </th>
                    <td mat-cell *matCellDef="let element"> {{element.remarks}} </td>
                </ng-container>

                <!-- Amount Due Column -->
                <ng-container matColumnDef="amountDue">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Amount Due </th>
                    <td mat-cell *matCellDef="let element"> {{element.amountDue}} </td>
                </ng-container>

                <!-- Actions Column -->
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef> Actions </th>
                    <td mat-cell *matCellDef="let element">
                        <button class="ml-2" mat-icon-button color="primary" (click)="onView(element.id)">
                            <mat-icon>pageview</mat-icon>
                        </button>

                    </td>
                </ng-container>

                <!-- Loading Data -->
                <ng-container matColumnDef="loading">
                    <mat-footer-cell *matFooterCellDef colspan="6">
                        Loading data...
                    </mat-footer-cell>
                </ng-container>

                <!-- No Data -->
                <ng-container matColumnDef="noData">
                    <mat-footer-cell *matFooterCellDef colspan="6">
                        No data.
                    </mat-footer-cell>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="closedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: closedColumns;"></tr>
            </table>

            <div *ngIf="noData | async" class="no-records" style="text-align: center; padding: 20px;">
                No records found
            </div>


            <mat-card *ngIf="isLoading" style="display: flex; justify-content: center; align-items: center">
                <mat-progress-spinner color="primary" mode="indeterminate">
                </mat-progress-spinner>
            </mat-card>

            <mat-paginator [pageSizeOptions]="[20, 25, 30]" showFirstLastButtons></mat-paginator>
        </div>
    </mat-tab>
</mat-tab-group>