<router-outlet></router-outlet>

<!-- <ul>
    <li>
        <a [routerLink]="['bank']">bank/list</a>
    </li>
    <li>
        <a [routerLink]="['bank', 'add']">bank/add</a>
    </li>
    <li>
        <a [routerLink]="['bank', 'edit']">bank/edit</a>
    </li>
    <li>
        <a [routerLink]="['contact']">contact/list</a>
    </li>
    <li>
        <a [routerLink]="['contact', 'add']">contact/add</a>
    </li>
    <li>
        <a [routerLink]="['contact', 'edit']">contact/edit</a>
    </li>
    <li>
        <a [routerLink]="['customer']">customer/list</a>
    </li>
    <li>
        <a [routerLink]="['customer', 'add']">customer/add</a>
    </li>
    <li>
        <a [routerLink]="['customer', 'view']">customer/view</a>
    </li>
    <li>
        <a [routerLink]="['payee']">payee/list</a>
    </li>
    <li>
        <a [routerLink]="['payee', 'add']">payee/add</a>
    </li>
    <li>
        <a [routerLink]="['payee', 'edit']">payee/edit</a>
    </li>
    <li>
        <a [routerLink]="['supplier']">supplier/list</a>
    </li>
    <li>
        <a [routerLink]="['supplier', 'add']">supplier/add</a>
    </li>
    <li>
        <a [routerLink]="['supplier', 'view']">supplier/view</a>
    </li>
    <li>
        <a [routerLink]="['term']">term/list</a>
    </li>
    <li>
        <a [routerLink]="['term', 'add']">term/add</a>
    </li>
    <li>
        <a [routerLink]="['term', 'edit']">term/edit</a>
    </li>
</ul> -->